.mt-10 {
    margin-top: 5rem !important;
}

.card-img-top.img-fluid {
    height: 300px;
    width: 90%;
    margin: 1rem auto;
}
.top_part {
    background: antiquewhite;
}
.services {
    background: blanchedalmond;
}
@media only screen and (max-width: 390px) {
    .navbar-brand img {
        width: 200px;
    }
  }
